.header{
    max-width: 1440px;
    margin: auto;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    color: #212B31;
    font-family: Inter;
    font-size: 22px;
    text-transform: uppercase;
margin-top: 26px;
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 30px;
}
.header__nav a{
    text-decoration: none;
    color: #72787D;
    font-family: Inter;
    font-size: 16px;
    transition: .3s;
}
.header__logo img{
    margin-right: 8px;
}
.header__nav a:hover,
 .burger-menu nav a {
    color: #036FC7;

}
.header__nav button{
color: #FFF;
font-family: Arial;
font-size: 15px;
border-radius: 4px;
border: 3px solid #212B31;
background: #212B31;
padding: 9px 20px;
cursor: pointer;
gap: 10px;
}
.header__nav button:hover{
    color: #212B31;
    background:  #FFF;
    transition:.3s;
}
.burger{
    display: none;
}
.header__nav a, 
.burger-menu nav a{
    text-decoration: none;
    color: #72787D;
    font-family: inter;
    font-size: 16px;
    transition: .3s;
}
.burger-menu nav button{
  margin: 0 auto;
  width: max-content;
  color: #FFF;
font-family: Arial;
font-size: 15px;
border-radius: 4px;
border: 3px solid #212B31;
background: #212B31;
padding: 9px 20px;
}
.burger-menu nav{
display: none;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: center;

position: fixed;
top: 0;
left: 0;
background: #FFF;
width: 100vw;
height: 100vh;
}
.burger-menu.active nav{
    display: flex;
    z-index: 11;
}
.burger-lines{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    z-index: 12;
    right: 50px;
}
.burger-line{
    width: 25px;
    height: 4px;
    background: #212B31;
}
.burger-menu nav a{
    margin: 0;
}
@media screen and (max-width:1217px) {
    .header__nav a{
        font-size: 12px;
    }
}
@media screen and (max-width:1076px) {
   .header__nav {
    display: none;
}  
   .burger{
   display: block;
}
}