.item1{
    max-width: 325px;
    text-align: center;
}
.item1 h2{
    color: #212B31;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.item1 p{
    color: #72787D;
text-align: center;
font-family: Inter;
font-size: 16px;
}
.item1{
    max-width: 325px;
    text-align: center;
    padding: 0 15px;
}
.item1 h2{
    color: #212B31;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.item1 p{
    color: #72787D;
text-align: center;
font-family: Inter;
font-size: 16px;
}
.item1{
    max-width: 325px;
    text-align: center;
}
.item1 h2{
    color: #212B31;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.item1 p{
    color: #72787D;
text-align: center;
font-family: Inter;
font-size: 16px;
}
.pros__content{
    display: flex;
    justify-content: space-between;
}
.pros__content{
    margin-top: 148px;
    flex-wrap: wrap;
}
@media screen and ( max-width: 1121px ) {
    .pros__content{
    flex-wrap: wrap;
    justify-content: space-around;
    }
}